<div class='nav'>
	<nav class='nav nav-navbar' role="navigation">
		<ul>
		  {{#link-to 'index' class='btn btn-default' }}inicio{{/link-to}}
		  {{#link-to 'personas' class='btn btn-default' }}personas{{/link-to}}
		</ul>
	</nav>
	<div class='container col-md-5 '>
	{{outlet}}
		</div>
</div>

